<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="mongodb" value="mongodb://localhost:27017/admin" />
    <add key="database" value="LogCenter" />

    <!--用于创建本地消息队列-->
    <add key="log_msqueue" value=".\private$\log_center_queue" />
    <!--用户向远程队列发送消息 如果msmq不通,则尝试手动删除接收端的msmq,然后再重建-->
    <!--<add key="log_remote_msqueue" value="FormatName:DIRECT=OS:{machineName}\private$\log_center_queue" />-->
    <add key="file_msqueue" value=".\private$\file_converter_queue" />
    <add key="file_remote_msqueue" value="FormatName:DIRECT=OS:{machineName}\private$\file_converter_queue" />
    <!--用户创建任务调度队列-->
    <add key="task_scheduling_msqueue" value=".\private$\task_scheduling_queue" />
    <add key="task_scheduling_remote_msqueue" value="FormatName:DIRECT=OS:{machineName}\private$\task_scheduling_queue" />
    <!--timezone-->
    <add key="timezone" value="+08:00" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-0.26.0.0" newVersion="0.26.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.7.0.0" newVersion="6.7.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.7.0.0" newVersion="6.7.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
