<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="mongodb" value="mongodb://localhost:27017/admin" />
    <add key="database" value="LogCenter" />

    <add key="msqueue" value=".\private$\log_center_queue"/>
  </appSettings>
</configuration>